<!-- Browser -->
<div class="rounded mx-auto relative -top-16 border-2 border-brand-blue-200 bg-gray-50 border-b-0 p-1 z-40
            lg:top-0 lg:transform lg:skew-y-12 lg:w-2/3 lg:border-r-0 lg:rounded-r-none lg:pr-0">
  <!-- Address bar -->
  <div class="bg-gray-200 rounded p-2 w-full flex items-center space-x-2 
              md:space-x-4 
              lg:rounded-r-none">
    <svg class="w-4 h-4 ml-1 text-gray-500 
                md:w-5 md:h-5 md:ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
    <svg class="w-4 h-4 text-gray-500 
                md:w-5 md:h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
    </svg>
    <svg class="w-3 h-3 ml-2 text-gray-500 
                md:w-4 md:h-4 md:ml-0" version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512" fill="currentColor">
      <path d="M512 192h-192l71.765-71.765c-36.265-36.263-84.48-56.235-135.765-56.235s-99.5 19.972-135.765 56.235c-36.263 36.265-56.235 84.48-56.235 135.765s19.972 99.5 56.235 135.765c36.265 36.263 84.48 56.235 135.765 56.235s99.5-19.972 135.764-56.236c3.028-3.027 5.93-6.146 8.728-9.334l48.16 42.141c-46.923 53.583-115.832 87.429-192.652 87.429-141.385 0-256-114.615-256-256s114.615-256 256-256c70.693 0 134.684 28.663 181.008 74.992l74.992-74.992v192z"></path>
    </svg>


    <div class="flex-1 bg-white py-1 px-3 rounded relative">
      <span class="font-medium">
        zipmessage.com
      </span>
      <span class="w-2 inline-block text-center">/</span>
      <span class="text-brand-red-500 font-medium relative">
        <span>yourname</span>
      </span>
    </div>
  </div>
  <!--/ Address bar -->
  
  <div class="px-8 pt-16 
              md:px-20 md:pt-20">
    
    <!-- Above Message Box -->
    <div class="relative flex justify-center items-center -mb-8 z-40
                md:-mb-6">

      <!-- Rounded Container -->
      <div class="relative inline-flex rounded-full mb-2 mx-auto p-1 border border-brand-blue-300 bg-white 
                  md:mb-0">
        
        <!-- Tabs -->
        <div class="message-tabs 
                    flex justify-center" 
             data-target="message-creation.messageTypeTabs">
          <div class="message-tab active 
                      cursor-pointer relative inline-flex items-center px-3 py-1 rounded-full bg-white text-gray-500 font-semibold 
                      hover:bg-gray-200 hover:text-gray-600 
                      md:px-4 md:py-2" 
                  data-tab-id="camera" 
                  data-target="message-creation.tab" 
                  data-action="click->message-creation#stop click->message-creation#activate_tab">
            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
            <span>Camera</span>
          </div>
          <div class="message-tab 
                      cursor-pointer relative inline-flex items-center px-3 py-1 rounded-full bg-white text-gray-500 font-semibold 
                      hover:bg-gray-200 hover:text-gray-600 
                      md:px-4 md:py-2" 
                  data-tab-id="screen" 
                  data-target="message-creation.tab" 
                  data-action="click->message-creation#stop click->message-creation#activate_tab">
            <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
            <span>Screen</span>
          </div>
          <div class="message-tab 
                      cursor-pointer relative inline-flex items-center px-3 py-1 rounded-full bg-white text-gray-500 font-semibold 
                      hover:bg-gray-200 hover:text-gray-600 
                      md:px-4 md:py-2" 
                  data-tab-id="text" 
                  data-target="message-creation.tab" 
                  data-action="click->message-creation#stop click->message--toggle#enableTextEditor click->message-creation#activate_tab">
            <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
            </svg>
            <span>Text</span>
          </div>
        </div>
        <!-- / Tabs -->

      </div>
      <!--/ Rounded Container -->

    </div>
    <!--/ Above Message Box -->

    <!-- Message box -->
    <div class="relative rounded border border-brand-blue-300 py-24 px-4 bg-brand-blue-100 text-center mb-28
                md:p-44">
      <div class="btn bg-white text-brand-red-500 font-medium text-lg py-6 px-6 whitespace-nowrap
                md:text-2xl md:py-10 md:px-8">
        Record a message     
      </div>

    </div>
    <!--/ Message box -->

    <div class="w-full mx-auto
                lg:w-5/6 ">
      
      <!-- Response 1 -->
      <div class="mb-8 text-left 
                  lg:mb-0">
        <div class="w-5/6 lg:w-3/5">
          <div class="flex items-center mb-6">
            <img class="h-12 w-auto mr-3 
                        lg:h-16" src="/assets/images/avatar-1.svg" alt="video message sender"  />
            <div class="leading-none">
              <div class="text-brand-blue-500 font-medium leading-none mb-1 text-lg
                          lg:text-xl">Emma</div>
              <div class="text-gray-400 font-medium text-base leading-none 
                          lg:text-lg">45 minutes ago</div>
            </div>
          </div>

          <div class="p-10 relative bg-brand-blue-100 rounded-lg flex flex-col justify-center items-center 
                      md:p-20">
            <div class="w-16 h-16 bg-white flex flex-col justify-center items-center rounded-full
                        md:w-16 md:h-16">
              <svg class="w-8 h-8 text-brand-red-500 relative left-2px 
                          md:w-8 md:h-8" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor" stroke="currentColor">
                <path d="M480 320.032c0 9.568-9.76 16.448-9.76 16.448l-273.952 169.696c-19.968 13.088-36.288 3.392-36.288-21.408v-329.504c0-24.864 16.32-34.496 36.32-21.44l273.952 169.76c-0.032 0 9.728 6.88 9.728 16.448z"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      
      <!--/ Response 1 -->


      <!-- Response 2 -->
      <div class="flex justify-end">
        <div class="w-4/5 lg:w-3/5">
          <div class="flex justify-end">
            <div class="flex items-center mb-6">
              <div class="leading-none text-right">
                <div class="text-brand-blue-500 font-medium leading-none mb-1 text-lg
                            lg:text-xl">Trey</div>
                <div class="text-gray-400 font-medium text-base leading-none 
                            lg:text-lg">3 hours ago</div>
              </div>

              <img class="h-12 w-auto mr-3 
                        lg:h-16" src="/assets/images/avatar-2.svg" alt="video message sender"  />
            </div>
          </div>

          <div class="p-10 relative bg-brand-blue-100 rounded-lg flex flex-col justify-center items-center 
                      md:p-20">
            <div class="w-16 h-16 bg-white flex flex-col justify-center items-center rounded-full
                        md:w-16 md:h-16">
              <svg class="w-8 h-8 text-brand-red-500 relative left-2px 
                          md:w-8 md:h-8" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor" stroke="currentColor">
                <path d="M480 320.032c0 9.568-9.76 16.448-9.76 16.448l-273.952 169.696c-19.968 13.088-36.288 3.392-36.288-21.408v-329.504c0-24.864 16.32-34.496 36.32-21.44l273.952 169.76c-0.032 0 9.728 6.88 9.728 16.448z"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <!--/ Response 2 -->

    </div>
    
  </div>

</div>
<!--/ Browser -->