<!-- Early Access Modal -->
<div class="hidden bg-brand-blue-700 bg-opacity-80 fixed top-0 left-0 w-full h-full flex flex-col justify-top items-center z-100 
            lg:justify-center" 
     data-action="click->static--early-access#clickOutsideCloseModal" 
     data-target="static--early-access.modal">
  <div class="bg-white p-4 pt-8 rounded shadow-lg max-w-lg text-center mt-4 mx-4 
              lg:my-auto lg:mx-auto lg:p-8" 
       data-target="static--early-access.modalBox">

    <h3 class="lg:text-3xl lg:mb-2 lg:mt-2">Request your invite</h3>

    <p class="mb-8 px-8 font-medium text-brand-blue-400 
              lg:text-lg">Reserve your spot to get early access to <span class="italic">ZipMessage</span>.  First beta invites start releasing in Spring, 2021.</p>


    <form id="early-access-email-form" netlify>

      <input type="hidden" value="{{ include.page }}" name="page">

      <div class="mb-2">
        <input type="email" 
               name="email" 
               placeholder="Email address" 
               id="early_access_email" 
               class="px-5 py-2 rounded-full border-2 border-gray-300 w-full text-lg text-brand-blue-500 font-medium
                      focus:ring-brand-red-500 focus:border-brand-red-500">
      </div>

      <button type="submit" 
              class="btn btn-primary w-full flex justify-center text-lg italic py-6">
        <span>Request early access</span>
      </button>
            
    </form>

    <div class="mt-10">
      <img class="h-5 w-auto mx-auto" src="/assets/images/zipmessage.png" alt="ZipMessage" />
    </div>

  </div>
</div>
<!--/ Early Access Modal -->