<nav class="block mb-8 sm:mb-0 sm:flex sm:space-x-10">
  <a href="/#your-threads" 
     class="block mb-4 text-base font-medium
                      sm:inline-block sm:mb-0">
    For you
  </a>
    
  <a href="/#brands" 
     class="block mb-4 text-base font-medium
                      sm:inline-block sm:mb-0">
    For brands
  </a>

  <a href="/#pricing" 
     class="block mb-4 text-base font-medium
                      sm:inline-block sm:mb-0">
    Pricing
  </a>
</nav>

<div class="block 
            sm:flex sm:items-center 
            md:ml-12">
  <a href="https://app.thready.io/login" 
     class="inline-block mb-4 text-base font-medium text-gray-300 
                      sm:mb-0"> 
    Sign in
  </a>

  <a href="https://app.thready.io/signup" 
     class="btn text-base w-full ml-0 
            sm:w-auto sm:ml-6 sm:px-3 sm:py-2"> 
    Sign up
  </a>
</div>