body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @apply text-gray-700;
}
.main {
  flex: 1;
}

html {
  @apply font-sans antialiased leading-normal;
  font-size: 14px;
}

@media (min-width: 420px) {
  html {
    font-size:16px;
  }
}

a {
  @apply text-brand-red-500;

  &:hover,
  &:focus {
    @apply text-brand-blue-500;

    transform: none;
  }
}

h1, h2, h3, h4 {
  @apply font-headers text-brand-blue-500 font-medium;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}

.table {
  @apply w-full;
  th, td {
    @apply align-top;
  }

}

.table-responsive {
  @apply block w-full overflow-x-auto;
  -webkit-overflow-scrolling: touch;
}
