form {
  @apply mb-8;
}

label {
  @apply block text-sm font-medium text-gray-500;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 2px solid transparent; 
  outline-offset: 2px;
}

select {
  /*@apply shadow-sm block w-full border-gray-300 rounded-md p-3 focus:ring-blue-300 focus:border-blue-300 sm:text-sm;*/
}